 body, html {
    margin: 0; /* Убираем отступы по краям страницы */
    padding: 0; /* Убираем внутренние отступы */
    height: 100%; /* Устанавливаем высоту на 100% для body и html */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт Arial или запасной sans-serif */
    scroll-behavior: smooth; /* Плавная прокрутка при переходе по якорям */
}

.background {
    position: fixed; /* Фиксируем элемент относительно окна браузера */
    top: 0; /* Располагаем элемент в верхней части окна */
    left: 0; /* Располагаем элемент в левой части окна */
    width: 100%; /* Устанавливаем ширину на 100% */
    height: 100%; /* Устанавливаем высоту на 100% */
    background-image: url('fon.jpeg'); /* Устанавливаем фоновое изображение */
    background-size: cover; /* Изображение покрывает весь фон */
    filter: blur(10px); /* Применяем размытие к фону */
    z-index: -1; /* Размещаем фон под всеми элементами */
}

.content {
    display: flex; /* Используем flexbox для размещения дочерних элементов */
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: center; /* Центрируем элементы по горизонтали */
    text-align: left; /* Центрируем текст внутри элементов */
    padding: 20px; /* Добавляем внутренние отступы */
}

header {
    margin-top: 50px; /* Добавляем отступ сверху */
}

.profile-photo {
    width: 150px; /* Устанавливаем ширину изображения профиля */
    height: 150px; /* Устанавливаем высоту изображения профиля */
    border-radius: 50%; /* Делаем изображение круглым */
    border: 3px solid white; /* Добавляем белую рамку вокруг изображения */
}

h1 {
    margin-top: 20px; /* Добавляем отступ сверху */
    color: white; /* Устанавливаем белый цвет текста */
}

main {
    margin-top: 50px; /* Добавляем отступ сверху */
    width: 60%; /* Устанавливаем ширину на 60% от родительского элемента */
}

.grid-container {
    display: grid; /* Используем CSS Grid для размещения элементов */
    grid-template-columns: repeat(3, 1fr); /* Создаем три равные колонки */
    gap: 20px; /* Устанавливаем расстояние между элементами */
}

.block {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 20px; /* Добавляем внутренние отступы */
    border-radius: 10px; /* Скругляем углы блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    transition: transform 0.3s; /* Анимация при наведении */
}

.block:hover {
    transform: translateY(-10px); /* Поднимаем блок вверх при наведении */
}

.block img {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: 300 px; /* Автоматически подстраиваем высоту */
    border-radius: 10px; /* Скругляем углы изображения */
}

.block p {
    margin-top: 10px; /* Добавляем отступ сверху */
    color: #333; /* Устанавливаем темно-серый цвет текста */
}